.btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: 5px;
}