*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Poppins, sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
}
input{
    margin: 10px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    margin: 10px;
    border-radius: 16px;
}
.page-01{
    height: 100vh;
    width: 100%;
    background-color: lightseagreen;
}
.page-02{
    height: 100vh;
    width: 100%;
    background-color: deeppink;
}
.page-03{
    height: 100vh;
    width: 100%;
    background-color: yellow;
}